---
---
@import "bootstrap.min.css";
.highlight > pre{
  color: inherit;
  border:none;
  background-color: transparent;
}
@import "monokai.css";
@import "icons.css";
@import "fonts";
@import "paleta";

body, .label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, .navbar-nav > li > a {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: 60px;
    > .container{
      padding: 60px 15px 60px 15px;
    }
  }
}
.tags{
  visibility: hidden;
}
.navbar-default {
  background-color: rgba(255, 255, 255, .97);
  border: none;
  > .container {
    border-bottom: 2px solid $color-primary-lt;
  }
  .navbar-brand {
    padding-left: 18px;
    &, &:hover, &:focus {
      color: $color-primary;
      .small {
        color: $color-secondary;
      }
    }
  }
  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      color: $color-primary-lt;
      &:focus, &:hover {
        color: $color-secondary-lt;
        background-color: transparent;
        border-bottom: 2px solid $color-secondary-lt;
        margin-bottom: -2px;
      }
    }
    > .active > a {
      &, &:focus, &:hover {
        color: $color-secondary;
        background-color: transparent;
        border-bottom: 2px solid $color-secondary;
        margin-bottom: -2px;
        .icon {
          color: $color-secondary;
        }
      }
    }
  }
}
a{
  color:$color-secondary;
}


/*
.post-flow {
  padding-right:45px
}
.main-content {
   > section {
    &:last-child {
      margin-bottom: 60px;
    }
    > h1 {
      font-size: 28px;
      border-bottom: 1px solid $color-primary-lt;
      padding-bottom: 8px;
    }
    article {
      // border-bottom 1px solid color-primary-lt
      padding-bottom: 20px;
      margin-bottom: 30px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
      h1 {

        font-size: 24px;
        margin-bottom: 10px;
      }
      h2 {
        color: $color-secondary;
        margin-top: 10px;
        font-size: 16px;
      }

    }

  }
}*/
article{
  &.job {
    margin-bottom: 40px;
  }
}
img.flag {
  margin-top: -2px;
  width: 16px;
  height: 11px;
}

.sidebar{
  visibility: hidden;
}
body > footer{
  visibility: hidden;
}

@media (max-width: 768px) {
  html body>.container{
    padding-bottom: 0;
  }
  .navbar.navbar-default.navbar-fixed-top{
    background-color: $color-primary;
    .container{
      border-bottom-color: $color-primary;
    }
    .navbar-header {
      float: left

    }

    a.navbar-brand {
      margin-top: -4px;
      color:$color-secondary;
      .small {
        color:$color-primary-lt;
        display: block;
      }
    }

    .nav.navbar-nav {
      float: right;
      clear: none;
      font-size: 1.65em;
      margin-right: 0;
      > li, > li.active {
        display: inline-block;
        > a {
          &, &:focus, &:hover {
            border-bottom: none;
            margin-bottom: 0
          }
        }
      }
    }
  }
  body > footer >.container{
    border-top: 0px !important;
    background-color: $color-primary;
    .pull-right.list-inline.social{
      text-align: center;
      float: none !important;
      a{
        color: $color-secondary;
        font-size: 45px;
        &:hover{
          color: $color-secondary;
        }
      }
    }

  }
  .category-page-header{
    background-color: $color-primary-lt;
    margin-left: -15px;
    margin-top: -20px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding: 20px 15px 10px 15px;
    h1{
      color:$color-primary;
    }
    .meta.small{
      color:#FFF;
    }
  }
  .sidebar{
    border-top: 3px solid $color-primary-lt;
    padding-left: 0px;
    .widget.tags{
      ul{
        margin-left: -8px;
        margin-right: -8px;
      }
      li{
        font-size: 18px;
        padding-left: 8px;
        line-height: 32px;
        span.badge{
          margin-top: 8px;
        }
      }
    }
  }
}
