@import "bootstrap.min.css";
@import "icons.styl";
/* Sticky footer styles
-------------------------------------------------- */
color-primary = #3D4A5D
color-secondary = #94C53E
color-primary-lt = lighten(color-primary,50)
color-secondary-lt = lighten(color-secondary,30)

html
  position: relative;
  min-height: 100%;

body
  /* Margin bottom by footer height */
  margin-bottom: 60px;

footer
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  > .container
    color color-primary-lt
    padding-top 18px
    border-top:2px solid color-primary-lt
.navbar-default
  background-color: rgba(255, 255, 255, .97);
  border: none;
  > .container
    border-bottom 2px solid color-primary-lt
  .navbar-brand
    &, &:hover, &:focus
      color color-primary
      .small
        color:color-secondary
  .navbar-nav > li > a
    text-transform uppercase
    color color-primary-lt
    &:focus, &:hover
      color color-secondary-lt
      background-color transparent
      border-bottom 2px solid color-secondary-lt
      margin-bottom -2px
  .navbar-nav > .active > a
    &, &:focus, &:hover
      color color-secondary
      background-color transparent
      border-bottom 2px solid color-secondary
      margin-bottom -2px
      .icon
        color color-secondary
body > .container
  padding: 60px 15px 0;
