@import "bootstrap.min.css";
@import "icons.styl";
@import "roboto.styl";
/* Sticky footer styles
-------------------------------------------------- */
color-primary = #3D4A5D
color-secondary = #94C53E
color-primary-lt = lighten(color-primary, 50)
color-secondary-lt = lighten(color-secondary, 30)

a
  color color-secondary
  &:hover, &:focus
    text-decoration none
    color color-secondary-lt

html
  position: relative;
  min-height: 100%;

body
  /* Margin bottom by footer height */
  font-family: "Roboto"
  margin-bottom: 60px;
  h1
    font-family "Roboto Condensed"

footer
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  > .container
    color color-primary-lt
    padding-top 18px
    border-top: 2px solid color-primary-lt

.navbar-default
  background-color: rgba(255, 255, 255, .94);
  border: none;
  > .container
    border-bottom 2px solid color-primary-lt
  .navbar-brand
    &, &:hover, &:focus
      color color-primary
      .small
        color: color-secondary
  .navbar-nav > li > a
    text-transform uppercase
    color color-primary-lt
    &:focus, &:hover
      color color-secondary-lt
      background-color transparent
      border-bottom 2px solid color-secondary-lt
      margin-bottom -2px
  .navbar-nav > .active > a
    &, &:focus, &:hover
      color color-secondary
      background-color transparent
      border-bottom 2px solid color-secondary
      margin-bottom -2px
      .icon
        color color-secondary

body > .container
  padding: 60px 15px 0;

.main-content {
  > section {
    &:last-child {
      margin-bottom 60px
    }
    > h1 {
      font-size 28px
      border-bottom 1px solid color-primary-lt
      padding-bottom 8px
    }
    article {
      // border-bottom 1px solid color-primary-lt
      padding-bottom 20px
      margin-bottom 30px
      &:last-child {
        border-bottom none
        margin-bottom 0
      }
      h1 {
        f
        font-size 24px
        margin-bottom 10px
      }
      h2 {
        color: color-secondary
        margin-top 10px
        font-size 16px
      }

    }

  }
}
article.post{
  margin-bottom 60px
}
.meta {
  color color-primary-lt
  a {
    color color-primary-lt
    &:hover, &:focus {
      color color-primary
    }
  }
}
.tags {
  .label-default {
    background-color color-primary-lt
    &:hover {
      cursor pointer
      color color-primary
    }
  }
}
.social{
  li{
    a{
      font-size 14px
      color:color-primary-lt
      &:hover,&:focus{
        color: color-primary
        i.icon{
          &.icon-rss{
            color #d58512
          }
          &.icon-skype{
            color rgb(0,170,231);
          }
        }
      }

    }
  }
}
.post-flow{
  padding-right 45px
}
.sidebar{
  color:#444444
  border-left: 1px solid color-secondary-lt
  border-top: 1px solid color-secondary-lt
  padding-left 30px
  padding-top 20px
  margin-top -10px
  margin-bottom -2px
  .widget{
    padding-bottom 12px
    margin-bottom  12px
    border-bottom 1px solid color-secondary-lt
    margin-left -30px
    padding-left 30px
    &:last-child{
      border none
    }
    aside{
      margin-top 8px
    }
    .avatar{
      padding-right: 0;
      margin-top: 14px;
      margin-bottom: 15px;
    }
  }
  h1{
    font-size:18px
  }
  h2{

    font-size:16px
    margin-bottom 8px
  }
  h3{
    margin-top 8px
    font-size:14px
  }
}
img.flag {
  margin-top: -2px;
  width: 16px;
  height: 11px;
}
@media (max-width: 768px) {
  .navbar-header {
    float left
  }

  .navbar-brand {

    margin-top -4px;
    .small {
      display block;
    }
  }

  .nav.navbar-nav {
    float right
    clear none
    font-size 24px
    margin-right 0
    > li, > li.active {
      display inline-block
      > a {
        &, &:focus, &:hover {
          border-bottom none
          margin-bottom 0
        }
      }
    }
  }
}

