---
layout: default_sidebar
---
<section class="posts">
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h1><a href="{{post.url}}">{{ post.title }}</a></h1>

            <p class="meta small">
                <i class="icon icon-calendar"></i>
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Enero
                {% when '2' %}Febrero
                {% when '3' %}Marzo
                {% when '4' %}Abril
                {% when '5' %}Mayo
                {% when '6' %}Junio
                {% when '7' %}Julio
                {% when '8' %}Agosto
                {% when '9' %}Septiembre
                {% when '10' %}Octubre
                {% when '11' %}Noviembre
                {% when '12' %}Diciembre
                {% endcase %}
                {{ post.date | date: "%Y" }}

                {% if post.meta %} • {{ post.meta }}{% endif %}
            </p>
        </header>
        <article class="post-content">
            {{ post.content }}
        </article>
        <aside>
            <div class="row">
            <div class="col-sm-6">
                {% if post.author %}
                <p class="meta small">por: {{ post.author }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6 text-right ">
                <a href="{{post.url}}#disqus_thread" class="small"><i class="icon icon-comment"></i> Comentarios</i></a>
            </div>
            </div>
        </aside>
    </article>
    {% endfor %}
</section>
<section>
    <nav>
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous"><a
                    href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}"><span
                    aria-hidden="true">&larr;</span>P&aacute;gina
                anterior</a></li>
            {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span>P&aacute;gina anterior</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path }}">P&aacute;gina siguiente<span
                    aria-hidden="true">&rarr;</span></a></li>
            {% else %}
            <li class="next disabled"><a href="#">P&aacute;gina siguiente<span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>
</section>