
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.personal_info.description }}">
    <meta name="author" content="{{ site.author }}">
    <title>{{ site.title }} &gt; {{ site.subtitle }} {% if page.title %} / {{ page.title }}{% endif %}</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if site.production %}
    {% include ga.html %}
    {% endif %}
    <!-- KISSmetrics tracking snippet -->
    <script type="text/javascript">var _kmq = _kmq || [];
    var _kmk = _kmk || '0cb8b4fd243782f94725d1c2097bfd4d0f76e630';
    function _kms(u){
        setTimeout(function(){
            var d = document, f = d.getElementsByTagName('script')[0],
                    s = d.createElement('script');
            s.type = 'text/javascript'; s.async = true; s.src = u;
            f.parentNode.insertBefore(s, f);
        }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
</head>