{% if site.data.personal_info.name or site.data.personal_info.profession or site.data.personal_info.description %}
<div class="widget">
    <div class="row">
        <div class="col-xs-3 avatar">
            <img src="/img/avatar.png" class="img-thumbnail img-responsive">
        </div>
        <div class="col-xs-9">
            {% if site.data.personal_info.name %}
            <h1>{{ site.data.personal_info.name }}</h1>
            {% endif %}
            {% if site.data.personal_info.profession %}
            <p><i class="icon icon-mortar-board"></i> {{site.data.personal_info.profession}}</p>
            {% endif %}
        </div>
    </div>
    {% if site.data.personal_info.description %}
    <div class="row">
        <div class="col-xs-12">
        <p class="description">{{ site.data.personal_info.description }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% if site.data.personal_info.location.city or site.data.personal_info.location.country %}
<div class="widget">
    <h1>Localización:</h1>
    <p>
        {% if site.data.personal_info.location.city %}
        <i class="icon icon-map-marker"></i> {{ site.data.personal_info.location.city }} •
        {%endif%}
        <img class="flag" src="/img/flags/{{ site.data.personal_info.location.country.code }}.gif">
        {{ site.data.personal_info.location.country.name }}
    </p>
</div>
{% endif %}
<div class="widget">
    <h1>{{ site.data.personal_info.job.title }} {{ site.data.personal_info.job.join }}:</h1>

    <p><i class="icon icon-building-o"></i> {{ site.data.personal_info.job.company.name }}</p>
    <p><img src="/img/company/{{ site.data.personal_info.job.company.logo }}"></p>
</div>
<div class="widget">
    <h1>Proyecto actual</h1>
    {% assign jobs = (site.collections.jobs.docs | sort: "date-start" | reverse ) %}
    {% for job in jobs | limit: 1 %}
    <h2>{{job.position}}</h2>

    <h3>{{job.title}}</h3>
    {{job.content}}
    <aside class="tags">
        {% for tag in job.tags %}
        <span class=" label label-default"><i class="icon icon-tag"></i> {{tag}}</span>
        {% endfor %}
    </aside>
    {% endfor %}
</div>