---
---

<article class="job">

    <header class="job-header">
        <h1>{{ page.position_en }}</h1>


        <h2><i class="icon icon-gears"></i> {{ page.title_en }}
            <span class="small text-muted">
            {% for tag in page.tags %}
            <i class="icon icon-tag"></i> {{tag}}
            {% endfor %}
            </span>
        </h2>


        <p class="meta small">
            {% if page.company %}<i class="icon icon-building-o"></i> {{ page.company }}{% endif %}
            {% if page.location.country %} • <img class="flag" src="/img/flags/{{ page.location.code }}.gif ">
            {{ page.location.country }}{% endif %}
            {% if page.date-start %} • <i class="icon icon-calendar"></i> {{ page.date-start }}
            {% if page.date-end %} - {{ page.date-end }}{% endif %}
            {% endif %}
        </p>


    </header>

    <section class="job-description">
        {{ page.en }}
    </section>
</article>